@keyframes load1 {
  5%, 35%, 46%, 100% {
    background: black;
  }
  0%, 36%, 45% {
    background: transparent;
  }
}

@keyframes load2 {
  15%, 20%, 60%, 65%, 100% {
    background: black;
  }
  0%, 14%, 61%, 64% {
    background: transparent;
  }
}

@keyframes load3 {
  30%, 100% {
    background: black;
  }
  0%, 29% {
    background: transparent;
  }
}

@keyframes load4 {
  10%, 100% {
    background: black;
  }
  0%, 9% {
    background: transparent;
  }
}

.load1 {
  animation: 5s load1 infinite;
}

.load2 {
  animation: 5s load2 infinite;
}

.load3 {
  animation: 5s load3 infinite;
}

.load4 {
  animation: 5s load4 infinite;
}

