@keyframes load1 {
  5%, 24%, 35%, 100% {
    background: black;
  }
  0%, 4%, 25%, 34% {
    background: transparent;
  }
}

@keyframes load2 {
  15%, 30%, 60%, 65%, 100% {
    background: black;
  }
  0%, 14%, 61%, 64% {
    background: transparent;
  }
}

@keyframes load3 {
  30%, 100% {
    background: black;
  }
  0%, 29% {
    background: transparent;
  }
}

.load1 {
  animation: 6s load1 infinite;
}

.load2 {
  animation: 6s load2 infinite;
}

.load3 {
  animation: 2s load3 infinite;
}

